.vehicle-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.vehicle-card {
  width: 300px;
}

.vehicle-card img {
  width: 100%; /* Ensure the image takes up the full width of the card */
  height: 200px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.add-button {
  position: fixed;
  bottom: 24px;
  right: 96px; /* Adjusted to make space for the upload button */
  z-index: 1001; /* Higher z-index to ensure it appears on top */
  transition: none !important; /* Disable any animations */
}

.upload-button {
  position: fixed;
  bottom: 24px;
  right: 24px; /* Moved to the rightmost position */
  width: 56px;
  height: 56px;
  z-index: 1000; /* Higher z-index to ensure it appears on top */
  transition: none !important; /* Disable any animations */
}
